.item-title {
  margin-right: 32px;
  &.p-20 {
    margin-right: 64px;
  }
}

.btn-group {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  .mat-button {
    line-height: 30px;
  }
  .mat-icon {
    font-size: 16px;
  }
}

:host {
  &.score-2 {
    background-color: #f4f2e9;
  }
  &.score-3 {
    background-color: #dae8fc;
  }
  &.score-5 {
    background-color: #fff2cc;
  }
  &.score-8 {
    background-color: #f8cecc;
  }
}