.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background: white;
  padding: 20px 10px;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-handle {
  color: #ccc;
  cursor: move;
  width: 32px;
  height: 32px;
  svg {
    padding-top: 5px;
    padding-left: 5px;
  }
}

.example-box:last-child {
  border: none;
}

.group {
  display: inline-block;
}

.group-title {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.block-btn {
  height: calc(100% - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    padding: 15px 30px;
  }
}
.more-btn {
  height: 32px;
  line-height: 32px;
  width: 32px;
  margin-left: 2px;
}

.mat-fab.close-screenshot {
  position: fixed;
  right: 20px;
  bottom: 11px;
}

.spacer {
  flex: 1 1 auto;
}

::ng-deep .screenshot-mode {
  .example-box {
    cursor: default;
  }
}