<mat-toolbar color="primary" *ngIf="!screenshotMode">
  <span>Just a Simple Planner</span>
  <span class="spacer"></span>
  <button mat-button (click)="openSettings()">
    <mat-icon>settings</mat-icon>
  </button>
  <button [disabled]="!this.groups.length" mat-button (click)="openScreenshotMode()">
    <mat-icon>screenshot</mat-icon>
  </button>
</mat-toolbar>
<div cdkDropListGroup class="container" style="position: relative; padding: 10px;" *ngIf="groups && groups.length; else justAdd">
  <div [sortablejs]="groups" [sortablejsOptions]="groupSortableOptions">
    <app-group
      *ngFor="let group of groups"
      [group]="group"
      [screenshotMode]="screenshotMode"
      (groupEdited)="onGroupEdited()"
      (groupDeleted)="onGroupDeleted($event)"
    ></app-group>
  </div>
  <div class="example-container" *ngIf="!screenshotMode">
    <button mat-flat-button color="accent" (click)="addGroup()">Add Group</button>
  </div>
</div>
<ng-template #justAdd>
  <div class="block-btn" *ngIf="!screenshotMode">
    <button (click)="addGroup()" mat-stroked-button>Add a group to start</button>
  </div>
</ng-template>
<button *ngIf="screenshotMode" matTooltip="Click here to exit screenshot mode" mat-fab class="close-screenshot" (click)="closeScreenshotMode()">
  <mat-icon>close</mat-icon>
</button>