<div class="container" style="position: relative; padding: 10px;" *ngIf="groups && groups.length; else justAdd">
  <div cdkDropListGroup style="display: inline-block;">
    <div class="example-container" *ngFor="let group of groups">
      <h2 class="group-title">
        {{ group.title }}
        <span style="display:flex">
          <mat-chip-list>
            <mat-chip color="primary" selected>
              {{ getTotals(group) }}
            </mat-chip>
          </mat-chip-list>
          <button class="more-btn" [matMenuTriggerFor]="menu" mat-icon-button aria-label="More Options for Group">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editGroup(group)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteGroup(group)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </span>
      </h2>
    
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="group.data"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of group.data" [ngClass]="'score-' + item.score" cdkDrag>
          <span class="item-title" [matBadge]="item.score" matBadgeOverlap="false">
            {{item.title}}
          </span>
          <div class="btn-group">
            <button mat-button (click)="editItem(item)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button (click)="deleteItem(item, group.data)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div class="example-box" cdkDrag [cdkDragDisabled]="true">
          <button (click)="addItem(group)" mat-flat-button color="primary">Add item</button>
        </div>
      </div>
    </div>
  </div>
  <div class="example-container">
    <button mat-flat-button color="accent" (click)="addGroup()">Add Group</button>
  </div>
</div>
<ng-template #justAdd>
  <div class="block-btn">
    <button (click)="addGroup()" mat-stroked-button>Add a group to start</button>
  </div>
</ng-template>


